@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Models.ArticlePartialModel

<div class="article">
    <h3 class="article-title">
        <span>@Model.Article.Title</span>
        @if (Model.ShowLanguage)
        {
            <i>(@Model.Article.FromLanguage.Name &rarr; @Model.Article.ToLanguage.Name)</i>
        }
    </h3>
    <div class="article-text">@Html.Raw(Model.Article.Text)</div>
    @if (Model.Article.Category != null)
    {
        <div class="article-category">@Localizer["Category"]: @Model.Article.Category.Name</div>
    }
</div>