@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using SakhaTyla.Core.Common
@inject IOptions<ServerOptions> ServerOptions
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(!string.IsNullOrEmpty(ViewData["Title"] as string) ? ViewData["Title"] + " - " : "")@Localizer["SakhaTyla.Ru - Sakha Dictionary"]</title>
    <meta name="keywords" content="@(ViewData["Keywords"] ?? "")" />
    <meta name="description" content="@(ViewData["Description"] ?? "")" />
    <meta property="og:title" content="@(ViewData["Title"] ?? "")">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Context.Request.GetEncodedUrl()">
    <meta property="og:image" content="https://sakhatyla.ru/images/logo-60.png">
    <meta property="og:description" content="@(ViewData["Description"] ?? "")">
    <meta property="og:site_name" content="@Localizer["SakhaTyla.Ru - Sakha Dictionary"]">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/brands.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/brands.min.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.min.css" />
    </environment>    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SakhaTyla.Web.Front.styles.css" asp-append-version="true" />
    <partial name="Shared/_CounterHeadPartial" />
</head>
<body>
    <partial name="Shared/_HeaderPartial" />
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        
    <partial name="Shared/_FooterPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    </environment>    
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var serverOptions = { apiUrl: '@ServerOptions.Value.ApiUrl' };
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    <partial name="Shared/_CounterScriptPartial" />
</body>
</html>