@inject MediatR.IMediator Mediator
@using SakhaTyla.Core.Common
@using SakhaTyla.Core.Infrastructure
@using SakhaTyla.Core.Requests.Pages.Models
@using SakhaTyla.Core.Enums
@using SakhaTyla.Core.Requests.Pages
@using SakhaTyla.Web.Front.Models
@model Models.ArticlesModel

@{
    var query = Context.Request.Query;
    var pageSize = 10;
    var pageNumber = 1;
    var filter = new PageFilter
    {
        Type = PageType.Article,
        ParentId = Model.Page.Id
    };
    if (query.ContainsKey("page"))
    {
        var success = int.TryParse(query["page"], out var pageNumberValue);
        if (success)
        {
            pageNumber = pageNumberValue;
        }
    }
    var articles = await Mediator.Send(new GetPages
    {
        Filter = filter,
        PageIndex = pageNumber - 1,
        PageSize = pageSize,
        OrderBy = "PublicationDate",
        OrderDirection = OrderDirection.Descending,
    });
    var paginatorModel = new PaginatorModel(page => $"/{Model.Page.Route!.Path}?page={page + 1}")
    {
        PageSize = pageSize,
        PageIndex = articles.CurrentPageIndex,
        Length = articles.TotalItems,
    };
}

<div>
    @foreach (var article in articles.PageItems)
    {
        <article class="blog-post">
            @if (article.Image != null)
            {
                <div>
                    <a href="/@article.Route!.Path">
                        <img src="@article.Image.Url">
                    </a>
                </div>
            }
            <h2 class="post-title">
                <a href="/@article.Route!.Path">@article.Name</a>
            </h2>
            @Html.Raw(article.Preview)
            <div class="post-footer">
                <span>
                    @article.PublicationDate.ToApplicationTime()?.ToString("D")
                </span>
                <span>
                    <a href="/@article.Route!.Path#comments">
                    @if (article.CommentContainer.CommentCount > 0)
                    {
                        <text>@article.CommentContainer.CommentCount comments</text>
                    }
                    else
                    {
                        <text>No comments</text>
                    }
                    </a>
                </span>
            </div>
        </article>
    }
    <partial name="Shared/_PaginatorPartial" for="@paginatorModel" />
</div>
