@using Microsoft.AspNetCore.Mvc.Localization
@using SakhaTyla.Core.Common
@using SakhaTyla.Core.Requests.Comments;
@using SakhaTyla.Core.Requests.Comments.Models;
@model Models.CommentsModel
@inject MediatR.IMediator Mediator
@inject IViewLocalizer Localizer

@{
    var comments = await Mediator.Send(new GetComments()
    {
        Filter = new CommentFilter()
        {
            ContainerId = Model!.CommentContainerId
        }
    });
}

<h3 id="comments">
    @if (comments.PageItems.Count > 0)
    {
        @Localizer.Plural(comments.PageItems.Count, "{0} comment", "{0} comments")
    }
    else
    {
        @Localizer["No comments"]
    }
</h3>
@foreach (var comment in comments.PageItems)
{
    <div class="comment">
        <div class="comment-header">
            @comment.Author.FirstName @comment.Author.LastName
            @comment.CreationDate.ToApplicationTime().ToString("g")
        </div>
        <p>@Html.Raw(comment.Text)</p>
    </div>
}