@page "/translate"
@using SakhaTyla.Core.Requests.Public.Articles.Models
@model SakhaTyla.Web.Front.Pages.TranslateModel
@{
    ViewData["Title"] = Model.Query;

    void Article(ArticleModel article, bool main)
    {
        <div class="article" style="@(main ? null : "display: none")">
            <h3 class="article-title">
                @article.Title 
                @if (!main)
                {
                    <i>(@article.FromLanguage.Name &rarr; @article.ToLanguage.Name)</i>
                }
            </h3>
            <div class="article-text">@Html.Raw(article.Text)</div>
            @if (article.Category != null)
            {
                <div class="article-category">Category: @article.Category.Name</div>
            }
        </div>
    }
}

<partial name="Shared/_TranslateFormPartial" for="TranslateForm" />

@if (Model.Translation != null && Model.Translation.Articles.Count > 0) 
{
    foreach (var articleGroup in Model.Translation.Articles)
    {
        <h2>@articleGroup.FromLanguage.Name &rarr; @articleGroup.ToLanguage.Name</h2>
        foreach(var article in articleGroup.Articles)
        {
            Article(article, true);
        }
    }
}
else if (!string.IsNullOrEmpty(Model.Query))
{
    <p>Translation not found.</p>
}

@if (Model.Translation != null && Model.Translation.MoreArticles != null && Model.Translation.MoreArticles.Count > 0) 
{
    <hr />
    
    <p>More translations:</p>

    foreach (var article in Model.Translation.MoreArticles)
    {
        <div class="article-more">
            <a asp-page="Translate" asp-route-q="@article.Title">@article.Title</a>
        </div>
        Article(article, false);
    }
}

@section Scripts {
    <script src="~/js/translate.js" asp-append-version="true"></script>
}