@page "/translate"
@using Microsoft.AspNetCore.Mvc.Localization
@using SakhaTyla.Core.Requests.Public.Articles.Models
@inject IViewLocalizer Localizer
@model SakhaTyla.Web.Front.Pages.TranslateModel
@{
    ViewData["Title"] = Model.Query;
}

<partial name="Shared/_TranslateFormPartial" for="TranslateForm" />

@if (Model.Translation != null && Model.Translation.Articles.Count > 0) 
{
    foreach (var articleGroup in Model.Translation.Articles)
    {
        <h2>@articleGroup.FromLanguage.Name &rarr; @articleGroup.ToLanguage.Name</h2>
        foreach(var article in articleGroup.Articles)
        {
            <partial name="Shared/_ArticlePartial" model="Model.GetArticlePartialModel(article, false)" />
        }
    }
}
else if (!string.IsNullOrEmpty(Model.Query))
{
    <p>@Localizer["Translation not found."]</p>
}

@if (Model.Translation != null && Model.Translation.MoreArticles != null && Model.Translation.MoreArticles.Count > 0) 
{
    <hr />
    
    <p>@Localizer["More translations"]:</p>

    foreach (var article in Model.Translation.MoreArticles)
    {
        <div class="article-more">
            <a asp-page="Translate" asp-route-q="@article.Title">@article.Title</a>
        </div>
        <div style="display: none">
            <partial name="Shared/_ArticlePartial" model="Model.GetArticlePartialModel(article, true)" />
        </div>
    }
}

@section Scripts {
    <script src="~/js/translate.js" asp-append-version="true"></script>
}